# Assignment 2
- Name : Deepinder Singh Saini
- Roll No. : 102303673

**Part I: Based on Feature Selection, Cleaning, and Preprocessing to Construct an Input from Data Source**
-(a) Examine the values of each attribute and Select a set of attributes only that would affect to predict
future bike buyers to create your input for data mining algorithms. Remove all the unnecessary
attributes. (Select features just by analysis).
-(b) Create a new Data Frame with the selected attributes only. 
-(c) Determine a Data value type (Discrete, or Continuous, then Nominal, Ordinal, Interval, Ratio) of 
each attribute in your selection to identify preprocessing tasks to create input for your data mining.

In [31]:
import pandas as pd
import numpy as np

In [32]:
#Load Dataset
df = pd.read_csv("datasetML2/AWCustomers.csv")

In [33]:
print(df.columns);

Index(['CustomerID', 'Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix',
       'AddressLine1', 'AddressLine2', 'City', 'StateProvinceName',
       'CountryRegionName', 'PostalCode', 'PhoneNumber', 'BirthDate',
       'Education', 'Occupation', 'Gender', 'MaritalStatus', 'HomeOwnerFlag',
       'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren',
       'YearlyIncome', 'LastUpdated'],
      dtype='object')

In [34]:
#Relevant Columns
relevant_features = ["BirthDate","Education","Occupation","Gender","MaritalStatus","NumberCarsOwned","TotalChildren","YearlyIncome"]

df_relevant = df[relevant_features]
print(df_relevant.head())

    BirthDate        Education      Occupation Gender MaritalStatus  \
0  1987-11-13        Bachelors        Clerical      M             M
1  1972-07-21  Partial College        Clerical      M             M
2  1985-11-09        Bachelors        Clerical      F             S
3  1977-10-18  Partial College  Skilled Manual      M             M
4  1975-02-05  Partial College  Skilled Manual      M             S

   NumberCarsOwned  TotalChildren  YearlyIncome
0                3              1         81916
1                2              2         81076
2                3              0         86387
3                2              2         61481
4                1              0         51804

In [35]:
for col in df_relevant.columns:
    if df_relevant[col].dtype == 'object':
        value_type = "Discrete,Nominal"
    else :
        if df_relevant[col].nunique() < 20:
            value_type = "Discrete,Ordinal"
        else :
            value_type = "Continuous,Ratio"
    print(f"{col} => {value_type}");

BirthDate => Discrete,Nominal
Education => Discrete,Nominal
Occupation => Discrete,Nominal
Gender => Discrete,Nominal
MaritalStatus => Discrete,Nominal
NumberCarsOwned => Discrete,Ordinal
TotalChildren => Discrete,Ordinal
YearlyIncome => Continuous,Ratio

**Question 2**

In [36]:
print(df_relevant.isnull().sum())

BirthDate          0
Education          0
Occupation         0
Gender             0
MaritalStatus      0
NumberCarsOwned    0
TotalChildren      0
YearlyIncome       0
dtype: int64

**Part II: Data Preprocessing and Transformation**

In [37]:
df_relevant.isnull().sum()

BirthDate          0
Education          0
Occupation         0
Gender             0
MaritalStatus      0
NumberCarsOwned    0
TotalChildren      0
YearlyIncome       0
dtype: int64

In [38]:
df["YearlyIncome_norm"] = (df["YearlyIncome"]-df["YearlyIncome"].min())/(df["YearlyIncome"].max()-df["YearlyIncome"].min())
print(df["YearlyIncome_norm"])

0        0.496842
1        0.489453
2        0.536172
3        0.317083
4        0.231958
           ...
18356    0.242065
18357    0.312781
18358    0.232442
18359    0.543121
18360    0.980128
Name: YearlyIncome_norm, Length: 18361, dtype: float64

In [39]:
df["Income_bin"] = pd.cut(df["YearlyIncome"],bins=3,labels=["Low","Medium","High"])
print(df["Income_bin"])

0        Medium
1        Medium
2        Medium
3           Low
4           Low
          ...
18356       Low
18357       Low
18358       Low
18359    Medium
18360      High
Name: Income_bin, Length: 18361, dtype: category
Categories (3, object): ['Low' < 'Medium' < 'High']

In [40]:
df["YearlyIncome_std"] = (df["YearlyIncome"] - df["YearlyIncome"].mean())/(df["YearlyIncome"].std())
print(df["YearlyIncome_std"])

0        0.298547
1        0.271173
2        0.444249
3       -0.367391
4       -0.682747
           ...
18356   -0.645303
18357   -0.383327
18358   -0.680955
18359    0.469993
18360    2.088939
Name: YearlyIncome_std, Length: 18361, dtype: float64

In [41]:
df_hotEncode = pd.get_dummies(df,columns=["MaritalStatus","Gender","Education","Occupation","Income_bin"],drop_first=True)
print(df_hotEncode)

       CustomerID Title FirstName MiddleName  LastName Suffix  \
0           21173   NaN      Chad          C      Yuan    NaN
1           13249   NaN      Ryan        NaN     Perry    NaN
2           29350   NaN     Julia        NaN  Thompson    NaN
3           13503   NaN  Theodore        NaN     Gomez    NaN
4           22803   NaN  Marshall          J      Shan    NaN
...           ...   ...       ...        ...       ...    ...
18356       25414   NaN     Grace          C    Bailey    NaN
18357       11459   NaN     Tasha        NaN      Deng    NaN
18358       12160   NaN    Jaclyn        NaN     Zhang    NaN
18359       14353   NaN      Erin          I      Reed    NaN
18360       16676   NaN    Amanda        NaN     Perry    NaN

                 AddressLine1 AddressLine2            City  \
0          7090 C. Mount Hood          NaN      Wollongong
1         3651 Willow Lake Rd          NaN         Shawnee
2      1774 Tice Valley Blvd.          NaN     West Covina
3             2103 Baldwin Dr          NaN       Liverpool
4             Am Gallberg 234          NaN           Werne
...                       ...          ...             ...
18356      6627 Camelback Ct.          NaN        Coronado
18357         9627 Kendall Rd          NaN  Port Macquarie
18358       4364 Viera Avenue          NaN       Beaverton
18359  3866 Mt. Everest Court          NaN       Vancouver
18360     7870 Orangewood Dr.          NaN       Grossmont

         StateProvinceName  ... Education_Graduate Degree  \
0          New South Wales  ...                     False
1         British Columbia  ...                     False
2               California  ...                     False
3                  England  ...                     False
4      Nordrhein-Westfalen  ...                     False
...                    ...  ...                       ...
18356           California  ...                      True
18357      New South Wales  ...                     False
18358               Oregon  ...                     False
18359     British Columbia  ...                     False
18360           California  ...                      True

      Education_High School Education_Partial College  \
0                     False                     False
1                     False                      True
2                     False                     False
3                     False                      True
4                     False                      True
...                     ...                       ...
18356                 False                     False
18357                 False                     False
18358                 False                      True
18359                  True                     False
18360                 False                     False

      Education_Partial High School  Occupation_Management  Occupation_Manual  \
0                             False                  False              False
1                             False                  False              False
2                             False                  False              False
3                             False                  False              False
4                             False                  False              False
...                             ...                    ...                ...
18356                         False                  False              False
18357                         False                  False              False
18358                         False                  False              False
18359                         False                  False              False
18360                         False                  False              False

       Occupation_Professional  Occupation_Skilled Manual  Income_bin_Medium  \
0                        False                      False               True
1                        False                      False               True
2                        False                      False               True
3                        False                       True              False
4                        False                       True              False
...                        ...                        ...                ...
18356                    False                       True              False
18357                    False                       True              False
18358                    False                       True              False
18359                    False                      False               True
18360                     True                      False              False

      Income_bin_High
0               False
1               False
2               False
3               False
4               False
...               ...
18356           False
18357           False
18358           False
18359           False
18360            True

[18361 rows x 34 columns]

**Part III: Calculating Proximity /Correlation Analysis of two features**
Make sure each attribute is transformed in a same scale for numeric attributes and Binarization for each 
nominal attribute, and each discretized numeric attribute to standardization. Make sure to apply a correct 
similarity measure for nominal (one hot encoding)/binary attributes and numeric attributes respectively. 
(a) Calculate Similarity in Simple Matching, Jaccard Similarity, and Cosine Similarity between two 
following objects of your transformed input data. 
(b) Calculate Correlation between two features Commute Distance and Yearly Income

In [49]:
#Simple Matching
row1 = df.iloc[5].values
row2 = df.iloc[6].values

sms = np.sum(row1 ==  row2) / len(row1)
print(sms)

0.14814814814814814

In [47]:
#Jaccard Similarity
# intersection = np.sum((row1 & row2) == 1)
# union = np.sum((row1 | row2) == 1)
# jaccard = intersection/union
# print(jaccard)

In [ ]:
#Cosine Similarity
# cosine = np.dot(row1,row2)/(np.linalg.norm(row1)*np.linalg.norm(row2))
# print(cosine)

TypeError: can't multiply sequence by non-int of type 'str'