# Assignment 2
- Name : Deepinder Singh Saini
- Roll No. : 102303673

**Question 1(a)**

In [1]:
import pandas as pd

In [4]:
#Load Dataset
df = pd.read_csv("datasetML2/AWCustomers.csv")

In [6]:
print(df.columns);

Index(['CustomerID', 'Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix',
       'AddressLine1', 'AddressLine2', 'City', 'StateProvinceName',
       'CountryRegionName', 'PostalCode', 'PhoneNumber', 'BirthDate',
       'Education', 'Occupation', 'Gender', 'MaritalStatus', 'HomeOwnerFlag',
       'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren',
       'YearlyIncome', 'LastUpdated'],
      dtype='object')

In [12]:
#Relevant Columns
relevant_features = ["BirthDate","Education","Occupation","Gender","MaritalStatus","NumberCarsOwned","TotalChildren","YearlyIncome"]

df_relevant = df[relevant_features]
print(df_relevant.head())

    BirthDate        Education      Occupation Gender MaritalStatus  \
0  1987-11-13        Bachelors        Clerical      M             M
1  1972-07-21  Partial College        Clerical      M             M
2  1985-11-09        Bachelors        Clerical      F             S
3  1977-10-18  Partial College  Skilled Manual      M             M
4  1975-02-05  Partial College  Skilled Manual      M             S

   NumberCarsOwned  TotalChildren  YearlyIncome
0                3              1         81916
1                2              2         81076
2                3              0         86387
3                2              2         61481
4                1              0         51804

In [14]:
for col in df_relevant.columns:
    if df_relevant[col].dtype == 'object':
        value_type = "Discrete,Nominal"
    else :
        if df_relevant[col].nunique() < 20:
            value_type = "Discrete,Ordinal"
        else :
            value_type = "Continuous,Ratio"
    print(f"{col} => {value_type}");

BirthDate => Discrete,Nominal
Education => Discrete,Nominal
Occupation => Discrete,Nominal
Gender => Discrete,Nominal
MaritalStatus => Discrete,Nominal
NumberCarsOwned => Discrete,Ordinal
TotalChildren => Discrete,Ordinal
YearlyIncome => Continuous,Ratio

**Question 2**

In [15]:
print(df_relevant.isnull().sum())

BirthDate          0
Education          0
Occupation         0
Gender             0
MaritalStatus      0
NumberCarsOwned    0
TotalChildren      0
YearlyIncome       0
dtype: int64